extends base
block content
    p.
        This is a twitterbot designed to create random Donald Trump tweets.
        It is set to listen for when Trump tweets, and will automatically tweet a remix tweet containing three random Trump sentences from his past tweets.
    p   Created by Kevin McClean.

