doctype html
html
    head
        a(id = "header_link" href='/') Home
        h1 #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")


    body
        hr
        block content
        hr
        a(href="about") About
        br
        a(href="http://twitter.com/DTrump_REMIX") Twitter Feed